
# Testinf Keys 
ROOSTOO_API_KEY=your_testing_api_key_here
ROOSTOO_SECRET_KEY=your_testing_secret_key_here

# Comp Keys
# ROOSTOO_API_KEY=your_competition_api_key_here
# ROOSTOO_SECRET_KEY=your_competition_secret_key_here


#How often the bot checks market and trades (in seconds)
LOOP_INTERVAL_SECONDS=60

# Maximum % of portfolio to use per trade (0.0 to 1.0)
MAX_POSITION_SIZE=0.10

# Stop loss percentage
STOP_LOSS_PCT=0.02

# Global max drawdown before bot halts
MAX_DRAWDOWN_PCT=0.15
